*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background-color: black;
}

.navbar{
  color:white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* box-shadow: 3px 3px 5px rgb(51, 51, 51); */
  width: 100vw;
}


.navbar-items{
  width:400px;
  display: flex;
  justify-content: space-between;
  gap:20px;
  /* border:2px solid yellow; */
  /* margin-left: 700px; */
  margin-right: 100px;
  
}

.navbar-items button, .hmbg-menu button{
  font-size: large;
  background: none;
  border:none;
  color:yellow;
}

.navbar-items button:hover, .hmbg-menu button:hover{
  color:rgb(182, 12, 182);
}



.menu-lines-container{
  
  width:50px;
  height:50px;
  border:1px solid rgb(107, 171, 185);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:3px;
  display: none;
}










.hmbg-menu{
  background-color: black;
  margin: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  transition: height 0.4s linear;
 
 
}


.hmbg-menu button{
  border:2px solid rgb(83, 82, 82);
  height: 30%;
  font-size: 1.4rem;
}



.dynamic-name-display-container{
  /* border: 2px solid black; */
  width: 500px;
  margin:auto;
  margin-top:50px;
  text-align: center;
  
}

.dynamic-name-display-container h3{
  color:white;
}
.dynamic-name-display-container h1{
  color:yellow;
}


.main-content{
  width:800px;
  margin:auto;
  text-align: center;
  margin-top: 50px;
  /* box-shadow: 3px 3px 15px rgb(90, 88, 86); */
}
.main-content img{
  width:100%;
  height:400px;
}


.about-me{
  width:50vw;
  margin:auto;
  text-align: center;
  margin-top:60px;
  box-shadow: 3px 3px 15px rgb(90, 88, 86);
  background-color: black;
}
.about-me h1{
  color:white;
}
.about-me p{
  color:yellow;
  line-height: 1.7;
  word-wrap: break-word;
}



.skills-container{
  width:600px;
  margin:auto;
  color:white;
   height:300px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 100px;
  box-shadow: 3px 3px 15px rgb(90, 88, 86);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.carousel{
  height:80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 .carousel-item{
 
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100%;
  transition: background-image 0.5s linear ;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
 }



.left-arrow,.right-arrow{
  width:40px;
  height: 40px;
  border-radius: 40px;
  background-color: rgb(24, 24, 24);
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-arrow:hover,.right-arrow:hover{
  background-color: rgb(43, 42, 42);
}




.footer{
  border-top: 2px solid rgb(44, 44, 44);
  width:100%;
  color: white;
  margin-top: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap:40px;
  justify-content: center;
  align-items: center;
}

.handles{
 display: flex;
 justify-content:center;
 align-items: center;
 gap:30px;
 margin-top: 10px;
}

.made-by{
  margin-bottom: 7px;
  width: 100%;
}



.contact-page{
  margin-top:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:50px;
}


.contact-page h1{
  color:white;
  width:300px;
  margin: auto;
}

.address,.social-profiles,.email,.call{
  width:600px;
  height:100px;
  color:white;
  /* border: 1px solid white; */
  margin:auto;
  padding-left: 10px;
  box-shadow: 3px 3px 30px rgb(90, 88, 86);
}

p{
  margin-top:8px;  /* may create bugs*/
  
}



.contact-message{
  color:white;
  display: flex;
  flex-direction: column;
  width:600px;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  /* border: 2px solid white; */
  height:540px;
  gap:15px;
  box-shadow: 3px 3px 30px rgb(90, 88, 86);
  padding-top: 20px;

}

.contact-message > * {
  width:70%;
  height:30%;
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:5px;
  font-size: 1rem;
 
}

.contact-message > * input{
  height:80%;
  font-size:1rem;
}

.message textarea{
  height:90%;
  font-size: 1rem;
}

.contact-message .message{
  height:70%;
}

.send-btn{
  height:18%;
  width:30%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 10px;
  background-color: rgb(126, 210, 42);
  color:white;
}

@media only screen  and (max-width:800px){
  .menu-lines-container{
    display: flex;
    margin-right:20px;
  }
  .navbar-items{
    display: none;
  }
  
  .dynamic-name-display-container{
     width:200px;
  }

.main-content{
  width:300px;
}
.main-content img{
  height:300px;
}



.skills-container{
  width:100%;
}

.footer{
  margin-top: 200px;
}
  
.about-me{
  width:90vw;
}


.address,.social-profiles,.email,.call{
  width:95vw;
  height:100px;
  color:white;
 
}

.contact-message{
  width:95vw;
}


.contact-message > * {
  width:90%;
  height:30%;
 
 
}
.send-btn{
  width:170px;
  height:120px;
}

}
